body{
    width: 200px;
    height: auto;
    background-color: white;
    display: flexbox;
    justify-content: center;
}

p{
    display: block;
    margin: auto 10px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}